.mainDatasetContainer {
  display: flex;
  height: 100vh;
}

.storage-main-content {

  padding: 20px;
  padding-bottom: 0px;
  background-color: #f0f0f0;
  height: 97%;
  transition: ease 0.5s;
  width: 75%;



}

.dark-mode {
  background-color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.get-more-storage {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.usage-info {
  font-size: 14px;
  color: #666;
}

.table-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  max-height: 60%;
  width: 100%;
  transition: ease 1s;
}

.table-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.table-container::-webkit-scrollbar {
  display: none;
}


.dark-mode .table-container {
  background-color: #343434;
}

table {
  width: 100%;
  border-collapse: collapse;
}



th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f9f9f9;
}

.dark-mode th {
  background-color: #343434;
  border-bottom: solid 1px #ffffff;
}

.empty-message {
  text-align: center;
  color: #666;
}

.storagebtn {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.storagenamehead {

  font-size: 25px;
  margin-top: 29px;
}

.getmorestoragebtnContainer {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;
}

.inputraneg {
  background-color: grey;

  width: 100%;
  border-radius: solid grey 1px;
  color: grey;
}

.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.searchCon {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  width: 250px;
  display: flex;
  align-items: center;

}

.searchicon {
  color: rgb(0, 0, 0);

}

.dark-mode .searchicon {
  color: black;
}

.searchEle {
  outline: none;
  margin-left: 10px;
  border: none;
  width: 100%;
}

.searchContainerHEad {
  background: #d3d3d3;

}

.seachIconheader {
  display: flex;
  justify-content: end;
  width: 100%;
}

.mainnnnnFrstrow {
  width: 100%;
}

.uploadButtonCont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

}


/*popup clases*/
.modal {
  font-size: 14px;
  height: 450px;
}


.modal>.header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal>.contentstorage {

  padding: 10px 5px;

  display: flex;
  flex-direction: column;
}

.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal .popupclass {
  width: 100px;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid gray;
}

.form-control {
  display: none;
}

.inputFileClass {
  border: solid 1px #252525;
  height: 20px;
}


.formStyle {
  padding: 20px;
  width: 280px;
}

.form-control {
  border-color: black !important;
  width: 270px;

  border: solid 1px grey;
  margin-bottom: 10px;

  display: block;
}


.formStyle {
  padding: 5px;
  text-align: center;

}

.form-control {
  border-color: grey !important;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: stretch;


}

.modal {
  font-size: 14px;
  width: 300px;
  /* Set the desired width */
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  height: 280px;
  justify-content: center;

  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btnCLassSubmitupload {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.fileinput {
  background-color: #d0fffe;
}


/*table css*/

/* src/components/UserTable.css */
.table-container {
  border-radius: 0px;
  text-align: left;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
}



.user-table th {
  background-color: #f2f2f2;
}

.dark-mode .user-table th {
  background-color: #0d0909;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dark-mode .user-table tr:nth-child(even) {
  background-color: #252525;
}

.user-table tr:hover {
  background-color: #ddd;
}

.dark-mode .user-table tr:hover {
  background-color: #666;
}

.searchrow {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ddd;
  padding: 20px;
  text-align: left;
  display: flex;
  justify-content: end;


}

.dark-mode .searchrow {
  background-color: #040404;
  border: solid 1px #ddd;
}

.trnofiles {
  width: 100%;

}

.searchCon {
  border: solid 1px grey;
  margin-right: 10%;
  width: 30%;
}

/*Fileview PopUp*/

.modal-viewFileCont {
  width: 50vw;

  overflow-y: scroll;
  min-height: 60vh;
  height: 60vh;
}

.showAndDeleteBtn {
  background-color: #ffd700;
  color: #000;
  width: 100px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

}

.spinner {

  display: flex;
  justify-content: center;
  align-items: center;
}

.EmbededButton {
  transition: ease-in-out 2s;
  background-color: #166d0a;

  color: white;
}

/*modal*/

.modalContainer {
  height: 150px;
}

.modalstorage {
  font-size: 14px;

}


.modalstorage>.header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modalstorage>.contentdataset {


  display: flex;
  flex-direction: column;
}

.modalstorage>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modalstorage .popupclass {
  width: 100px;
}

.modalstorage>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid gray;
}

.form-control {
  display: none;
}

.inputFileClass {
  border: solid 1px #252525;
  height: 20px;
}


.formStyle {
  padding: 20px;
  width: 280px;
}

.form-control {
  border-color: black !important;
  width: 270px;

  border: solid 1px grey;
  margin-bottom: 10px;

  display: block;
}


.formStyle {
  padding: 5px;
  text-align: center;

}

.form-control {
  border-color: grey !important;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: stretch;


}

.modalstorage {
  font-size: 14px;
  width: 300px;
  /* Set the desired width */
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  height: 150px;
  justify-content: center;

  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#modalStorage {
  height: 300px;
}

.light-mode .storagenamehead {
  color: #000;
}

.light-mode .storage-main-content {
  background-color: white;
}

@media(max-width:700px) {
  .uploadButtonCont {
    width: 100%;
    margin-top: 0px;
    align-items: center !important;


  }

  .storageDatasetmobile {
    padding: 0px;
    width: 100%;
    height: 100%;
  }

  .storagenamehead {
    font-size: 18px;
  }

  .arrowcont {
    display: flex;
  }

  #uploadbtn {
    font-size: 10px;
    margin-right: 20px;
    margin-top: 10px;
  }

  #modalStorage {
    width: 70%;
    height: 280px;

  }

  .fileinput {
    width: 100% !important;
    margin: 5px !important;
  }

  .contentstorage {
    width: 100% !important;
    height: 100% !important;

  }

  .formStyle {
    width: 80% !important;
    height: 100% !important;
    margin: 0px;

  }

  .fileinputEle {
    margin: 0px !important;
  }

  .header {
    color: #000;
  }

  .deager {}
}