.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: solid 1px #c6c0c0;
  transition: ease 0.5s;
  padding-top: 0px;
  margin-top: 0px;

}

#sidebarchat {
  height: 100%;
}

.activate-pro {
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;


  cursor: pointer;
}

.dark-mode .activate-pro {
  background-color: #000000;
  color: #f0f0f0;
}

.light-mode .activate-pro {
  background-color: #000000;
  color: white;
}

.LegAiLOGOName {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  padding-top: 0px;




}

.pencilIcon {
  font-size: 14px;
  margin-left: 10px;
}

.pinned-chats,
.history {
  margin-top: 20px;
}

.pinned-chats .h3tag,
.history .h3tag {
  margin-bottom: 10px;
}

.sidebar {
  padding: 20px;
}

.light-mode .sidebar {
  background-color: #f0f0f0;
  color: #000000;
}

.dark-mode .sidebar {
  background-color: #333333;
  color: #ffffff;
}

.new-chat {
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.linehor {
  width: 100%;

}

.messageuserhistory {
  font-family: Roboto;
  font-size: 15px;
  height: 150px;
  border: solid 0.5px grey;
  padding: 10px;
  overflow-y: scroll;
  border-radius: 5px;
}

.historyItem {

  padding: 10px;
  transition: linear 0.5s;
  border-radius: 5px;
}

.historyItem:hover {
  color: #fdfdfd;
  background-color: #000000;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.messageuserhistory::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.messageuserhistory {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.new-chat {
  /* existing styles */
  position: relative;
  overflow: hidden;
}

@keyframes newChatAnimation {
  0% {
    background-color: #f0f0f0;
    transform: scale(1);
  }

  50% {
    background-color: #ffeb3b;
    transform: scale(1.1);
  }

  100% {
    background-color: #ffffff;
    transform: scale(1);
  }
}

.new-chat .pencilIcon {
  margin-left: 8px;
}

.animate {
  animation: newChatAnimation 0.5s ease-in-out;
}

@media(max-width:700px) {
  .sidebar.dark-mode {
    background-color: transparent;
    /* or inherit */
    color: white;
    /* Ensures it uses the color set in Drawer */
  }
}


#sidebarchat {
  max-height: 94.5%;

}

/*
@media(max-width:700px) {
  .sidebar {
    display: none !important;
  }
}
  */